body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evita a barra de rolagem horizontal */
    box-sizing: border-box;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura da viewport */
}

